* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  scroll-behavior: smooth;
  background-color: #e8e8e8;
}

body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 550px;
}

.image {
  background-color: #dc44c3;
  border-radius: 20px 0 0 20px;
  display: flex;
}

.image div {
  display: flex;
  align-items: center;
}

.form {
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 60px;
}

.form p {
  color: #dc44c3;
  font-weight: bold;
  margin-top: -10rem;
}

.form h2 {
  margin-top: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin-top: 1rem;
  padding: 5px 10px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.buttons .entry {
  color: #ffffff;
  background-color: #dc44c3;
  border-radius: 20px;
  margin-right: -10px;
  z-index: 1;
}

.buttons .sign-in {
  color: #000000;
  background-color: #e8e8e8;
  border-radius: 0 20px 20px 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.inputs input {
  background-color: #eaeaea;
  border: none;
  border-radius: 20px;
  padding: 7px 12px;
}

.submit button {
  color: #ffffff;
  background-color: #dc44c3;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

#buttons #btn-open {
  margin-right: -10px;
  border-radius: 20px 0 0 20px;
}

#second-form {
  margin-top: -4.4rem;
}

/* --------------  TABLET ----------------  */
@media (max-width: 1024px) {
  .image {
    display: none;
  }

  .form {
    width: 50vw;
    border-radius: 20px;
  }

  .inputs {
    align-items: normal;
    width: 80%;
    align-self: center;
  }
}

/* --------------  MOBILE ----------------  */
@media (max-width: 675px) {
  .form {
    width: 60vw;
  }

  .inputs {
    align-items: center;
  }
}
